<%- include('header'); -%>
<div class="d-flex justify-content-around align-items-center flex-column">
  <h1>Admin home</h1>
  <div class="d-flex justify-content-around align-items-center flex-column">
    <a href="/admitStudent">
      <button type="button" class="btn btn-primary">Admit Student</button>
    </a>
    <a href="/allStudents">
      <button type="button" class="btn btn-primary">All Students</button>
    </a>
    <a href="/createGrade">
      <button type="button" class="btn btn-primary">Add Class</button>
    </a>
    <a href="/allGrades">
      <button type="button" class="btn btn-primary">All Classes</button>
    </a>
    <a href="/feesStructure">
      <button type="button" class="btn btn-primary">Fees Structure</button>
    </a>
  </div>
</div>

<%- include('footer'); -%>
