<%- include('header'); -%>
<div class="d-flex justify-content-center text-align-center flex-column">
  <h1>Teacher</h1>
  <a href="/attendance">
    <button type="button" class="btn btn-primary">Primary</button>
  </a>
</div>
<%- include('footer'); -%>
